/*
=============== 
Variables
===============
*/

:root {
  --primary-1: hsl(205, 86%, 17%);
  --primary-2: #49a6e9;
  --primary-3: hsl(205, 86%, 81%);
  --grey-1: hsl(209, 61%, 16%);
  --grey-2: hsl(210, 22%, 49%);
  --grey-3: hsl(210, 36%, 96%);
  --red-dark: hsl(360, 67%, 44%);
  --red-dark-light: hsl(360, 71%, 66%);
  --green-dark: hsl(125, 67%, 44%);
  --green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --radius: 0.5rem;
}
/*
=============== 
Global Styles
===============
*/

body {
  background: var(--grey-3);
  color: var(--grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

h1{
  text-transform: capitalize;
  text-align: center;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
  font-size: 3rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--grey-2);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  body {
    font-size: 1rem;
  }
  h1{
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: black;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  font-size: 0.875rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: white;
  background: black;
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
todo List
===============
*/
.section-center {
  background: white;
  border-radius: var(--radius);
  padding: 2rem;
}
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.todo-form h1 {
  color: var(--primary-1);
  margin-bottom: 1.5rem;
  text-align: center;
}
.form-control {
  display: flex;
  justify-content: center;
}
#todo {
  padding: 0.25rem;
  padding-left: 1rem;
  background: var(--grey-3);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: var(--grey-2);
}
#todo::placeholder {
  font-family: var(--ff-secondary);
  color: var(--grey-2);
}
.submit-btn {
  background: var(--primary-3);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  cursor: pointer;
  content: var(--primary-2);
  font-size: 0.85rem;
}
.submit-btn:hover {
  background: var(--primary-2);
  color: white;
}

.todo-container {
  margin-top: 2rem;
  visibility: hidden;
}
.show-container {
  visibility: visible;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}
.todo-item:hover {
  color: var(--grey-2);
  background: var(--grey-3);
}
.todo-item:hover .title {
  color: var(--grey-2);
}
.title {
  margin-bottom: 0;
  color: var(--grey-1);
  letter-spacing: 2px;
}
.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
}
.edit-btn {
  color: var(--green-light);
}
.edit-btn:hover {
  color: var(--green-dark);
}
.delete-btn {
  color: var(--red-dark-light);
}
.delete-btn:hover {
  color: var(--red-dark);
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: var(--red-dark-light);
  margin: 0 auto;
  font-size: 0.85rem;
  cursor: pointer;
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: var(--red-dark);
}